@tailwind base;
@tailwind components;
@tailwind utilities;

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.zoomed-video {
  transform: scale(1.3);
}

.hoverEffect {
  position: relative;
  overflow: hidden;
}

.hoverEffect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: indigo;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
  z-index: 1;
}

.hoverEffect:hover::before {
  transform: scaleX(1);
}

.hoverEffect .bg-white {
  position: relative;
  z-index: 2;
}
